* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes slideLeft {
  from {
    transform: translateX(calc(100% + 32px));
  }

  to {
    transform: translateX(0);
  }
}

@keyframes fadeOut {
  to {
    opacity: 0;
  }
}

.toasts {
  position: fixed;
  top: 32px;
  right: 32px;
  display: flex;
  flex-direction: column;
  z-index: 999;
}

.toast {
  display: flex;
  align-items: center;
  width: 400px;
  padding: 16px 0;
  margin: 12px 0;
  border-radius: 4px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
  animation: slideLeft ease-out 0.4s, fadeOut linear 1s 5s forwards;
}

.toast--success {
  background-color: rgba(129, 200, 133, 0.3);
  border-left: 4px solid #81c885;
}

.toast--error {
  background-color: rgba(247, 139, 103, 0.3);
  border-left: 4px solid #f78b67;
}

.toast--warning {
  background-color: rgba(254, 183, 78, 0.3);
  border-left: 4px solid #feb74e;
}

.toast--info {
  background-color: rgba(98, 172, 236, 0.3);
  border-left: 4px solid #62acec;
}

.toast__icon,
.toast__close {
  font-size: 24px;
  padding-inline: 16px;
}

.toast__close {
  opacity: 0.4;
}

.toast__close {
  opacity: 1;
  cursor: pointer;
}

.toast__icon--success {
  color: #81c885;
}

.toast__icon--error {
  color: #f78b67;
}

.toast__icon--warning {
  color: #feb74e;
}

.toast__icon--info {
  color: #62acec;
}

.toast__body {
  flex-grow: 1;
  line-height: 1.5;
}

.toast__title {
  font-size: 20px;
}

/* Control */

.control-area {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: end;
  padding: 50px 0;
}

.btn {
  padding: 12px 16px;
  margin-inline: 12px;
  border: none;
  border-radius: 4px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  box-shadow: 0 8px 0 rgba(0, 0, 0, 0.4);
  transition: all ease 0.2s;
}

.btn:active {
  transform: translateY(8px);
  box-shadow: none;
}

.btn--success {
  background-color: #81c885;
}

.btn--error {
  background-color: #f78b67;
}

.btn--warning {
  background-color: #feb74e;
}

.btn--info {
  background-color: #62acec;
}
